extends layout

block content
  .container
    h1 About Us
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet neque at lacus feugiat dignissim. Pellentesque pulvinar metus tellus, non tempor nulla placerat nec. Fusce elit quam, condimentum eget diam a, ornare euismod lectus. Etiam dignissim nisl sed tellus ultricies fringilla.
    ul
      li Lorem Ipsum
      li Lorem Ipsum
      li Lorem Ipsum
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet neque at lacus feugiat dignissim. Pellentesque pulvinar metus tellus, non tempor nulla placerat nec. Fusce elit quam, condimentum eget diam a, ornare euismod lectus. Etiam dignissim nisl sed tellus ultricies fringilla.
