extends layout

block content
  .container
    .jumbotron
      .container
        h1 How May I Help You?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet neque at lacus feugiat dignissim. Pellentesque pulvinar metus tellus, non tempor nulla placerat nec. Fusce elit quam, condimentum eget diam a, ornare euismod lectus. Etiam dignissim nisl sed tellus ultricies fringilla. Mauris faucibus eros sit amet fringilla porttitor. Nunc posuere, turpis vitae tempor luctus, nibh libero viverra urna, quis interdum quam elit ut lorem.
        a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    .container
      .row
        .col-md-4
          h2 About Us
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet neque at lacus feugiat dignissim. Pellentesque pulvinar metus tellus, non tempor nulla placerat nec. Fusce elit quam, condimentum eget diam a, ornare euismod lectus. Etiam dignissim nisl sed tellus ultricies fringilla.
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 Services
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet neque at lacus feugiat dignissim. Pellentesque pulvinar metus tellus, non tempor nulla placerat nec. Fusce elit quam, condimentum eget diam a, ornare euismod lectus. Etiam dignissim nisl sed tellus ultricies fringilla.
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 Get In Touch
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet neque at lacus feugiat dignissim. Pellentesque pulvinar metus tellus, non tempor nulla placerat nec. Fusce elit quam, condimentum eget diam a, ornare euismod lectus. Etiam dignissim nisl sed tellus ultricies fringilla.
          a.btn.btn-default(href='#') View Details
